Options +FollowSymlinks
RewriteEngine on
# RewriteRule ^test/([^/]+) /2011/index.php?id=$1 [NC]
RewriteCond %{REQUEST_URI} !index.php$
RewriteCond %{REQUEST_URI} !receipt.php$
RewriteCond %{REQUEST_URI} !staffapp.php$
RewriteCond %{REQUEST_URI} !board/(.*)
RewriteCond %{REQUEST_URI} !files/(.*)
RewriteRule ^(.*)$ /2011/index.php?name=$1 [L]

#ErrorDocument 404 /2011/404.html

RewriteCond %{HTTP_HOST} ^2011.ssuns.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.2011.ssuns.org$
RewriteRule ^/?$ "http\:\/\/www\.ssuns\.org\/2011" [R=301,L]

