* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}


html, body {
	height: 100%;
	font-size: 10px;
	background-image: url("{T_THEME_PATH}/images/dove.png");
	background-repeat: no-repeat;
	background-position: top center;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 200px;
	color: #FFFFFF;
	margin-top: 15px;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	/* Forum header titles */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #3f3f3f;
	font-size: 2em;
	margin: 0.8em 0 0.2em 0;
}

h2.solo {
	margin-bottom: 1em;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
	color: #989898;
	margin-top: 20px;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	/* Also see tweaks.css */
	border: 0 none #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top: 1px dashed #CCCCCC;
	margin: 10px 0;
}

hr.divider {
	display: none;
}

p.right {
	text-align: right;
}

/* Border
---------------------------------------- */
.border-left { 
    background: url("{T_THEME_PATH}/images/border_left.gif") #FFFFFF repeat-y 0 0;
}

.border-right {
    background: url("{T_THEME_PATH}/images/border_right.gif") repeat-y 100% 0;
}

.border-top { 
    background: url("{T_THEME_PATH}/images/border_top.gif") repeat-x 0 0; 
}

.border-top-left {
    background: url("{T_THEME_PATH}/images/border_top_left.gif") no-repeat 0 0;
}

.border-top-right {
    background: url("{T_THEME_PATH}/images/border_top_right.gif") no-repeat 100% 0;
}

.border-bottom { 
    background: url("{T_THEME_PATH}/images/border_bottom2.gif") repeat-x 0 100%;
}

.border-left, .border-right, .border-top, .border-top-left, .border-top-right, .border-bottom { width: 100%;}

.border-bottom span {
    background: url("{T_THEME_PATH}/images/border_bottom.gif") no-repeat 0 0;
    display: block;
    height: 18px; 
}

.border-bottom span span { 
    background-position: 100% -18px;
}

.inside { 
    padding: 17px 27px 10px 27px;
}

/* Main blocks
---------------------------------------- */

#wrap {
	min-height: 100%;
	width: 960px;
	margin: 0 auto;
}

/* Dropdown menu wizardry. http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/ */
#nav {
	background-color: #3F4450;
	float: left;
	width: 100%;
	list-style: none;
	height: 35px;
	z-index: 9001;
	position: relative;
}

#nav li {
	float: left;
	position: relative;
	display: block;
}

#nav li a {
	display: block;
	padding-left: 10px;
	padding-right: 50px;
	line-height: 1.8em;
	font-size: 1.8em;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75); /* Text shadow to lift it a little */
	height: 35px;
}
#nav li a:hover {
	color:#fff;
	background: #5A6273; /* Solid colour fall-back */
	text-decoration: none;
}

/*--- DROPDOWN ---*/
#nav ul {
	list-style: none;
	position: absolute;
	left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	opacity: 0; /* Set initial state to transparent */
	/*-webkit-transition:0.05s linear opacity; *//* Make the dropdown fade-in in Webkit */
}

#nav ul li {
	float: none;
}

#nav ul a {
	white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	display: block;
}

#nav li:hover ul { /* Display the dropdown on hover */
	left: 0; /* Bring back on-screen when needed */
	opacity: 1; /* Fade to opaque */
	font-size: 0.8em;
}

#nav li:hover a { /* Set styles for top level when dropdown is hovered */
	background: #5A6273; /* Solid colour fall-back */
	text-decoration: none;
}

#nav li:hover ul a { /* Override some top level styles when dropdown is hovered */
	text-decoration: none;
}

#nav li:hover ul li a:hover{ /* Set styles for dropdown when items are hovered */
	background: #4C5361; /* Solid colour fall-back */
}

#main {
	clear: both;
	/*overflow: auto;*/
	background-color: #FFFFFF;
	color: #000;
	width: 960px;
	position: relative;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#main-table {
	border: 0;
	height: 100%;
	width: 960px;
}

#right-bar {
	vertical-align: top;
	float: right;
	background-color: #D9D9D9;
	width: 200px;
	text-align: center;
	font-family: 'droid-serif';
	height: 100%;
}

#push {
	height: 50px;
	padding-bottom: 75px; /* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -75px; /* negative value of footer height */
	height: 75px;
	clear: both;
	background: url('{T_THEME_PATH}/images/footer.png') repeat-x;
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}


#left-content {
	padding: 20px;
	width: 760px;
	height: 100%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

#right-bar h2 {
	font-size: 1.5em;
}

#logo {
	/*display: inline-block;*/
	float: left;
}

#search {
	position: relative;
	left: 70px;
	top: 70px;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	background: #ebebeb none repeat-x 0 0;
	color: #FFFFFF;
	margin-bottom: 4px;
	padding: 0 5px;
}

.navbar {
	background-color: #ebebeb;
	padding: 0 10px;
}

.forabg {
	background: #b1b1b1 none repeat-x 0 0;
	margin-bottom: 4px;
	padding: 0 5px;
}

.forumbg {
	background: #ebebeb none repeat-x 0 0;
	margin-bottom: 4px;
	padding: 0 5px;
}

.panel {
	margin-bottom: 4px;
	padding: 0 10px;
	background-color: #f3f3f3;
	color: #3f3f3f;
}

.post {
	padding: 0 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1	{ background-color: #f7f7f7;}
.bg2	{ background-color: #f2f2f2; }
.bg3	{ background-color: #ebebeb; }

.rowbg {
	margin: 5px 5px 2px 5px;
}

.ucprowbg {
	background-color: #e2e2e2;
}

.fieldsbg {
	/*border: 1px #DBDEE2 solid;*/
	background-color: #eaeaea;
}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

span.corners-top span {
	background-image: none;
	background-position: 100% 0;
}

span.corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}

span.corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}

.headbg span.corners-bottom {
	margin-bottom: -1px;
}

.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom {
	margin: 0 -10px;
}

.rules span.corners-top {
	margin: 0 -10px 5px -10px;
}

.rules span.corners-bottom {
	margin: 5px -10px 0 -10px;
}

/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
}

ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
	font-size: 1.1em;
	line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

/* Table styles
----------------------------------------*/
table.table1 {
	/* See tweaks.css */
}

#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.3em;
	font-size: 1em;
	padding: 0 0 4px 3px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr {
	border: 1px solid #cfcfcf;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #f6f6f6;
	color: #000;
}

table.table1 td {
	color: #6a6a6a;
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 5px;
	border-top: 1px solid #FAFAFA;
}

table.table1 tbody th {
	padding: 5px;
	border-bottom: 1px solid #000000;
	text-align: left;
	color: #333333;
	background-color: #FFFFFF;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	color: #000000;
	font-weight: normal;
}

.forumbg table.table1 {
	margin: 0 -2px -1px -1px;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts 
   Also see tweaks.css */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #000000;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #828282;
	float: left;
	width: 65%;
}

/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #bfbfbf;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #eeeeee;
	border: 1px solid #bababa;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination span a:hover {
	border-color: #d2d2d2;
	background-color: #d2d2d2;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #d2d2d2;
}

/* Miscellaneous styles
---------------------------------------- */
#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.copyright {
	text-align: center;
	font-size: 1.3em;
	clear: both;
	color: #FFF;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.headerspace {
	margin-top: 20px;
}

.error {
	color: #bcbcbc;
	font-weight: bold;
	font-size: 1em;
}

.reported {
	background-color: #f7f7f7;
}

li.reported:hover {
	background-color: #ececec;
}

div.rules {
	background-color: #ececec;
	color: #bcbcbc;
	padding: 0 10px;
	margin: 10px 0;
	font-size: 1.1em;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.rules {
	background-color: #ececec;
	background-image: none;
	padding: 5px;
}

p.rules img {
	vertical-align: middle;
	padding-top: 5px;
}

p.rules a {
	vertical-align: middle;
	clear: both;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}

/* For custom pages only */
.markdown h1 {
   	font-family: 'droid-serif';
   	font-weight: normal;
	font-size: 2.5em;
	color: #000;
	padding-bottom: 0.2em;
	border-bottom: 1px #333333 dotted;
	margin-bottom: 10px;
	letter-spacing: 0.05em; 
}

.markdown p {
	font-size: 1.5em;
	/* Because Deep wants a serif font */
	/* Taken from the DDMAL page lol */
	font-family: "Baskerville", "Garamond", "Times New Roman", serif;
	color: #444;
}

.markdown h3 { /* extends the regular h3 defined by phpBB ... will probably be changed later */
	font-size: 1.7em;
	clear: both;
	padding-top: 20px;
	text-transform: none;
}

/* for the secretariat images */

.leftfloat {
	float: left;
	padding-right: 10px;
}


input[type="submit"].awesome {
    border: 0px;
}

/* for the pretty login form as well as the search thing */
input.pretty {
	padding: 9px;  
	border: solid 1px #E5E5E5;  
	outline: 0;
	width: 150px;
	background-color: #FFFFFF;#
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	/* fuck IE */
	border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 1.2em;
}

input.pretty:hover, input.pretty:focus {
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px; 
	-moz-box-shadow:  rgba(0, 0, 0, 0.2) 0px 0px 8px; 
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px; 
}

/* you know, when you want to put in a label for accessibility but don't want it showing */
.hidden-label {
	display: none;
}


/* Awesome CSS3 buttons by ZURB Inc. http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html */
.awesome, .awesome:visited {
    background: #222 url("{T_THEME_PATH}/images/alert-overlay.png") repeat-x; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff !important; /* for a tags */
    text-decoration: none !important; /* same */
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-family: 'droid-serif';
    background-color: #2B79C2; /* since we really only need blue */
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
}

.new-messages {
	background-color: #FF0000 !important;
}

.new-messages:hover {
	background-color: #FF4C4C !important;
}

.awesome:hover {
	background-color: #5C95E2;
}
