<!-- INCLUDE overall_header.html -->

{PAGE_CONTENT}
<p><strong>SSUNS 2011 platinum sponsor:</strong></p>
<p><a href="http://www.mta.ca"><img src="{ROOT_PATH}/images/mta.png" alt="Mount Allison University" /></a></p>
<br />
<p><strong>SSUNS 2011 gold sponsors:</strong></p>
<p><a href="http://www.mun.ca/undergrad"><img src="{ROOT_PATH}/images/mun.jpg" alt="Memorial University" /></a></p>
<p><a href="http://www.mcgill.ca"><img src="{ROOT_PATH}/images/mcgill.gif" alt="McGill University" /></a></p>
<p><strong>Other SSUNS 2011 sponsors:</strong></p>
<p><a href="http://www.mcgill.ca/arts/alumni/fund"><img src="{ROOT_PATH}/images/dadf.gif" alt="Dean of Arts Development Fund" /></a></p>

<!-- INCLUDE overall_footer.html -->
