<!-- INCLUDE overall_header.html -->

{PAGE_CONTENT}
<h2>Position paper grading rubric</h2>
<p><a href="files/position-paper-rubric.pdf">Download this page in PDF format</a></p>
<table>
	<thead>
		<th></th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
		<th>Total</th>
	</thead>
	<tbody>
		<tr>
			<td><strong>Background information (x4)</strong></td>
			<td>No examples of action taken and/or no identification of the issues</td>
			<td>Vague - identification of the issue, but no examples of past action</td>
			<td>Short description of issues and few examples of past action</td>
			<td>Moderate description of issues and several examples of past action</td>
			<td>In-depth analysis of issues and many examples of past action</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Description of Country's Position (x4)</strong></td>
			<td>No discussion of country's position or diplomatic record at the UN</td>
			<td>Country's position briefly mentioned</td>
			<td>Country’s position present, but is contrary to existing policies or voting records</td>
			<td>Country’s position stated with examples as justification</td>
			<td>Country’s position stated and well developed through a variety of proofs</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Justification and Summary of Position (x4)</strong></td>
			<td>No justification given for country’s position and no summary</td>
			<td>A summary is present but with no justification</td>
			<td>A brief summary with a justification that has only minimal proof</td>
			<td>A brief summary with a slightly developed justification (more proof is present)</td>
			<td>Well developed summary of position and justification</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Spelling & punctuation (x2)</strong></td>
			<td>10 or more errors</td>
			<td>7-9 errors</td>
			<td>3-6 errors</td>
			<td>1-2 errors</td>
			<td>No errors</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Grammar (x2)</strong></td>
			<td>Difficult to read</td>
			<td>Difficult to connect ideas together</td>
			<td>Slightly confusing but does not impede overall understanding</td>
			<td>Does not impede understanding</td>
			<td>No errors</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Clarity (x2)</strong></td>
			<td>No order or organization</td>
			<td>Random or weak organization</td>
			<td>Lapses in focus and/or coherence</td>
			<td>Logical organization</td>
			<td>Careful and precise organization</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Language structure (x2)</strong></td>
			<td>Incorrect wording and/or no variety in structure</td>
			<td>Ineffective wording, lack of visible topic or structure</td>
			<td>Simplistic language and awkward/ simplistic sentence style</td>
			<td>Effective language and varied sentence structure</td>
			<td>Precise, strong language and variety of structure</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="6"><strong>Final score (out of 100)</strong></td>
			<td></td>
		</tr>
	</tbody>
</table>
<!-- INCLUDE overall_footer.html -->
