<!-- INCLUDE overall_header.html -->

<h1>Receipt of confirmation - <!-- IF ERRORS -->Errors<!-- ELSE --> Success<!-- ENDIF --></h1>

<!-- IF SUBMIT -->
	<!-- IF ERRORS == '' -->
	<p><strong>Registration successful!</strong></p>
	<p><strong>Please print this page for your records.</strong></p>
	<p>A confirmation email has been sent to the email you provided in the <em>faculty advisor email</em> field. (This should be a feature.)</p>
	<p>Please note that you will not be assigned countries until your fees have been paid in full, as your registration will remain incomplete until then.</p>
	<p>Please review our <a href="payment-policy">payment policy</a> and send all payments to:</p>
	<p style="text-align: center;"><strong>Secondary Schools' United Nations Symposium</strong><br />
		Succursale Place du Parc<br />
		P.O. Box 13<br />
		Montreal, Quebec<br />
		H2X 4A3<br />
		Canada
	</p>
	<p>Please note that all cheques must be payable to <strong>IRSAM Inc</strong>.</p>
	<p>Due to bureaucratic reasons, we ask that cheques be dated <strong>August 15, 2011</strong>, as our staff will not be able to cash these beforehand. We appreciate your understanding.</p>
	<p>You have indicated that your school will be bringing <strong>{NUMBER_OF_DELEGATES}</strong> delegates.</p>
	<p>Your estimated total cost will be {TOTAL_COST}</p>
	<p>Formula: Delegation fee + (Number of delegates * Fee per delegate) = {DELEGATION_FEE} + ({NUMBER_OF_DELEGATES} * {DELEGATE_FEE})</p>
	<hr />
	<p><em>Here is a complete transcript of the information we have on file:</em></p>
	<!-- INCLUDE registration_preview.html -->
	<hr />
	<p>Thanks for registering!</p>
	<p>Should you wish to make any changes to the information you have provided, or if you have any other questions, please do not hesitate to contact Sumaira Mazhar, the SSUNS 2011 Chargée d'Affaires, at schools@ssuns.org</p>
	<!-- ELSE -->
	<p>{ERRORS}</p>
	<p>Please <a href="javascript:history.go(-1)">go back</a> and correct the errors.</p>
	<!-- ENDIF -->
<!-- ELSE -->
<p>You have probably reached this page in error. I have nothing else to say.</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->

