<ul id="nav">
	<li><a href="{ROOT_PATH}../index">Home</a></li>
	<li><a href="{ROOT_PATH}../whats-new">What's new?</a></li>
	<li><a href="{ROOT_PATH}../about">About</a>
		<ul>
			<li><a href="{ROOT_PATH}../secretariat">Meet the Secretariat</a></li>
			<li><a href="{ROOT_PATH}../theme">Conference theme</a></li>
			<li><a href="{ROOT_PATH}../itinerary">Conference itinerary</a></li>
			<li><a href="{ROOT_PATH}../brochure">Online brochure</a></li>
			<li><a href="{ROOT_PATH}../newsletters">Newsletters</a></li>
			<li><a href="{ROOT_PATH}../privacy">Privacy policy</a></li>
			<li><a href="{ROOT_PATH}../sponsorship">Sponsorship</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../register">Registration</a>
		<ul>
			<li><a href="{ROOT_PATH}../register-a-school">Register a school</a></li>
			<li><a href="{ROOT_PATH}../payment">Payment policy</a></li>
			<li><a href="{ROOT_PATH}../hotel">Hotel information</a></li>
			<li><a href="{ROOT_PATH}../checklist">Checklist</a></li>
			<li><a href="{ROOT_PATH}../policies">Conference policies</a></li>
			<li><a href="{ROOT_PATH}../scholarships">SSUNS scholarships</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../committees">Committees</a>
		<ul>
			<li><a href="{ROOT_PATH}../committee-list">Committee list</a></li>
			<li><a href="{ROOT_PATH}../committee-highlights">Committee highlights</a></li>
			<li><a href="{ROOT_PATH}../matrix">Country-committee matrix</a></li>
			<li><a href="{ROOT_PATH}../rules">Rules of procedure</a></li>
			<li><a href="{ROOT_PATH}../position-paper-guidelines">Position paper guidelines</a></li>
			<li><a href="{ROOT_PATH}../other-resources">Other resources</a></li>
			<li><a href="{ROOT_PATH}../ngos">NGOs</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../montreal">Montreal</a>
		<ul>
			<li><a href="{ROOT_PATH}../mcgill-tours">McGill tours</a></li>
			<li><a href="{ROOT_PATH}../saturday-morning">Saturday morning</a></li>
			<li><a href="{ROOT_PATH}../metro-and-restaurant-map">Metro and restaurant map</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../staff">Staff</a>
		<ul>
			<li><a href="{ROOT_PATH}../staff-events">Staff events</a></li>
			<li><a href="{ROOT_PATH}../staff-coordinators">Staff coordinators</a></li>
			<li><a href="{ROOT_PATH}../staff-contributors">Staff contributors</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}index.php">Board</a>
		<ul>
			<li><a href="{ROOT_PATH}faq.php">FAQ</a></li>
			<li><a href="{ROOT_PATH}memberlist.php">Members</a></li>
			<li><a href="{ROOT_PATH}search.php">Search</a></li>
		</ul>
	</li>
</ul>
