<div id="menubar">
<ul id="nav" class="dropdown">
	<li ><a href="{BOARD_URL}../index/">Home</a></li>
	<li class="dir"><a href="{BOARD_URL}../about/">About</a>
		<ul>
			<li><a href="{BOARD_URL}../secretariat/">Meet the Secretariat</a></li>
			<li><a href="{BOARD_URL}../theme/">Conference theme</a></li>
			<li><a href="{BOARD_URL}../itinerary/">Conference itinerary</a></li>
			<li><a href="{BOARD_URL}../brochure/">Online brochure</a></li>
			<li><a href="{BOARD_URL}../newsletters/">Newsletters</a></li>
			<li><a href="{BOARD_URL}../privacy/">Privacy policy</a></li>
			<li><a href="{BOARD_URL}../sponsorship/">Sponsorship</a></li>
		</ul>
	</li>
	<li class="dir"><a>Registration</a>
		<ul>
			<li><a href="{BOARD_URL}../register/">Register a school</a></li>
			<li><a href="{BOARD_URL}../payment/">Payment policy</a></li>
			<li><a href="{BOARD_URL}../hotel/">Hotel information</a></li>
			<li><a href="{BOARD_URL}../checklist/">Checklist</a></li>
			<li><a href="{BOARD_URL}../policies/">Conference policies</a></li>
			<li><a href="{BOARD_URL}../scholarships/">SSUNS scholarships</a></li>
		</ul>
	</li>
	<li class="dir"><a href="{BOARD_URL}../committees">Committees</a>
		<ul>
			<li class="dir"><a href="{BOARD_URL}../committee-list/">Committee list</a></li>
			<li><a href="{BOARD_URL}../matrix/">Country-committee matrix</a></li>
			<li><a href="{BOARD_URL}../rules/">Rules of procedure</a></li>
			<li><a href="{BOARD_URL}../press-corps/">Press corps</a></li>
			<li><a href="{BOARD_URL}../position-paper-guidelines/">Position paper guidelines</a></li>
			<li><a href="{BOARD_URL}../other-resources/">Other resources</a></li>
			<li><a href="{BOARD_URL}../ngos/">NGOs</a></li>
		</ul>
	</li>
	<li class="dir"><a href="{BOARD_URL}../montreal/">Montreal</a>
		<ul>
			<li><a href="{BOARD_URL}../mcgill-tours/">McGill tours</a>
			<li><a href="{BOARD_URL}../montreal-neighbourhoods/">Montreal neighbourhoods</a></li>
			<li><a href="{BOARD_URL}../metro-and-restaurant-map/">Metro and restaurant map</a></li>
		</ul>
	</li>
	<li class="dir"><a href="{BOARD_URL}index.php">Board</a>
		<ul>
			<li><a href="{BOARD_URL}faq.php">FAQ</a></li>
			<li><a href="{BOARD_URL}memberlist.php">Members</a></li>
		</ul>
	</li>
</ul>
</div>
