<ul id="menu">
	<li><a href="{ROOT_PATH}../index">Home</a></li>
	<li><a href="{ROOT_PATH}../whats-new">About</a>
		<ul>
			<li><a href="{ROOT_PATH}../secretariat">Meet the Secretariat</a></li>
			<li><a href="{ROOT_PATH}../theme">Conference theme</a></li>
			<li><a href="{ROOT_PATH}../itinerary">Conference itinerary</a></li>
			<li><a href="{ROOT_PATH}../brochure">Online brochure</a></li>
			<li><a href="{ROOT_PATH}../newsletters">Newsletters</a></li>
			<li><a href="{ROOT_PATH}../privacy">Privacy policy</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../register">Registration</a>
		<ul>
			<li><a href="{ROOT_PATH}../register-a-school">Register a school</a></li>
			<li><a href="{ROOT_PATH}../payment-policy">Payment policy</a></li>
			<li><a href="{ROOT_PATH}../refund-policy">Refund policy</a></li>
			<li><a href="{ROOT_PATH}../hotel">Hotel information</a></li>
			<li><a href="{ROOT_PATH}../hotel-directions">Hotel directions</a></li>
			<li><a href="{ROOT_PATH}../checklist">Checklist</a></li>
			<li><a href="{ROOT_PATH}../conference-policies">Conference policies</a></li>
			<li><a href="{ROOT_PATH}../scholarships">SSUNS scholarships</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../committees">Committees</a>
		<ul>
			<li><a href="{ROOT_PATH}../committee-list">Committee list</a></li>
			<li><a href="{ROOT_PATH}../committee-highlights">Committee highlights</a></li>
			<li><a href="{ROOT_PATH}../matrix">Country-committee matrix</a></li>
			<li><a href="{ROOT_PATH}../rules">Rules of procedure</a></li>
			<li><a href="{ROOT_PATH}../delegate-prep-guide">Delegate prep guide</a></li>
			<li><a href="{ROOT_PATH}../position-paper-guidelines">Position paper guidelines</a></li>
			<li><a href="{ROOT_PATH}../other-resources">Other resources</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../montreal">Montreal</a>
		<ul>
			<li><a href="{ROOT_PATH}../mcgill-tours">McGill tours</a></li>
			<li><a href="{ROOT_PATH}../saturday-morning">Saturday morning</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../staff">Staff</a>
		<ul>
			<li><a href="{ROOT_PATH}../staff-apps">Staff applications</a></li>
			<li><a href="{ROOT_PATH}../staff-events">Staff events</a></li>
			<li><a href="{ROOT_PATH}../staff-coordinators">Staff coordinators</a></li>
			<li><a href="{ROOT_PATH}../staff-contributors">Staff contributors</a></li>
		</ul>
	</li>
	<li><a href="{ROOT_PATH}../sponsors">Sponsors</a>
	    <ul>
	        <li><a href="{ROOT_PATH}../sponsorship-package">Sponsorship package</a></li>
	    </ul>
	</li>
	<li><a href="{ROOT_PATH}index.php">Board</a>
		<ul>
			<li><a href="{ROOT_PATH}faq.php">FAQ</a></li>
			<li><a href="{ROOT_PATH}memberlist.php">Members</a></li>
			<li><a href="{ROOT_PATH}search.php">Search</a></li>
		</ul>
	</li>
</ul>
